In [3]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [4]:
df = pd.read_csv("../data/raw/blogtext.csv")

NameError: name 'pd' is not defined

In [4]:
df.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

In [1]:
df.describe()

NameError: name 'df' is not defined

In [ ]:
df.shape